In [1]:
import requests
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import json

# need to pull this into an api file
publisherid=10000027998

This query is the framework to get the Review data and the key to search for demographics below

In [2]:
# Creating our blank dataframe

review_df=pd.DataFrame(columns=["Name","BizID","City","State","Zip","ReviewID","Rating"])
review_df

Empty DataFrame
Columns: [Name, BizID, City, State, Zip, ReviewID, Rating]
Index: []

In [4]:
# Creating our city list
cities = ["Austin,TX","Memphis, TN","Kansas City, MO", "Charlotte, NC","New York, NY"]

# setting parameters for looping through two different counts

x=50
y=0
y1=49

In [5]:
for city in cities:
    print(city)
    query_url = f'https://api.citygridmedia.com/content/reviews/v2/search/where?what=barbeque&where={city}&publisher={publisherid}&format=json&rpp=50'
    response = requests.get(query_url).json()
    index=0
    for i,index in zip(range(x),range(y,y1)):
        review_df.loc[index,"Name"] = response['results']['reviews'][i]['business_name']
        review_df.loc[index,"ReviewID"] =response['results']['reviews'][i]['review_id']
        review_df.loc[index,"Rating"] = response['results']['reviews'][i]['review_rating']
        review_df.loc[index,"BizID"] = response['results']['reviews'][i]['listing_id']
    y=y+50
    y1=y1+50
#     x2=x2+50
#     index=index+50

Austin,TX
Memphis, TN
Kansas City, MO
Charlotte, NC
New York, NY

In [6]:
review_df

                        Name     BizID City State  Zip        ReviewID Rating
0                 Ruby's BBQ  10212860  NaN   NaN  NaN   ip_9097900545     10
1                 Ruby's BBQ  10212860  NaN   NaN  NaN  ip_10303216539     10
2             Artz Rib House  10210737  NaN   NaN  NaN  ip_10300387870      8
3             Artz Rib House  10210737  NaN   NaN  NaN  ip_10303228300     10
4             Artz Rib House  10210737  NaN   NaN  NaN  ip_10303259985      6
..                       ...       ...  ...   ...  ...             ...    ...
244         The Barbecue Pit  32878839  NaN   NaN  NaN  ip_10300644128      8
245         The Barbecue Pit  32878839  NaN   NaN  NaN  ip_10301941537      4
246  Philip Marie Restaurant   7117426  NaN   NaN  NaN  ip_10311489426      2
247  Philip Marie Restaurant   7117426  NaN   NaN  NaN  ip_10306810464      6
248      Chili's Grill & Bar  37263739  NaN   NaN  NaN  ip_10311905110     10

[245 rows x 7 columns]

In [224]:
# Uncomment to see a clean print of the json in the reviews response above
# print(json.dumps(response, indent=4, sort_keys=True))

This query is the framework to pass the business listing id from the review data to the places detail API to get the city, state, and zip

In [7]:


for index, row in review_df.iterrows():
    ListingID=row["BizID"]
    places_url = f'http://api.citygridmedia.com/content/places/v2/detail?id={ListingID}&id_type=cs&client_ip=123.4.56.78&publisher={publisherid}&format=json'
    places_response = requests.get(places_url).json()
    
    try:
        review_df.loc[index,"City"] = places_response['locations'][0]['address']['city']
        review_df.loc[index,"State"]=places_response['locations'][0]['address']['state']
        review_df.loc[index,"Zip"]=places_response['locations'][0]['address']['postal_code']
        print(places_response['locations'][0]['address']['city'])
    except (KeyError):
        print("Missing field/result... skipping.")
# print(f'business name: {BizName}  biz ID: {ListingID} \nCity: {BizCity}  State: {BizSt}  Zip: {BizZip}\nReviewID: {ReviewID}  Rating: {ReviewRating}'    )
# review_df

Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Austin
Cedar Park
Cedar Park
Austin
Austin
Austin
Austin
Cordova
Cordova
Cordova
Cordova
Cordova
Memphis
Memphis
Memphis
Memphis
Memphis
Memphis
Cordova
Memphis
Memphis
Memphis
Memphis
Memphis
Memphis
Memphis
Memphis
Memphis
Memphis
Cordova
Memphis
Memphis
Memphis
Memphis
Cordova
Memphis
Cordova
Memphis
Memphis
Memphis
Memphis
Memphis
Memphis
Memphis
Memphis
Memphis
Memphis
Memphis
Memphis
Memphis
Memphis
Memphis
Memphis
Memphis
Memphis
Memphis
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Kansas City
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
Charlotte
New York
Staten Island
Bronx
New York
New York
New York
New York
New York
New York
Brooklyn
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
Fresh Meadows
Fresh Meadows
Fresh Meadows
Fresh Meadows
Brooklyn
Brooklyn
New York
Staten Island
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
Bronx
Bronx
New York
New York
Staten Island

In [8]:
review_df

,Name,BizID,City,State,Zip,ReviewID,Rating
0,Ruby's BBQ,10212860,Austin,TX,78705,ip_9097900545,10
1,Ruby's BBQ,10212860,Austin,TX,78705,ip_10303216539,10
2,Artz Rib House,10210737,Austin,TX,78704,ip_10300387870,8
3,Artz Rib House,10210737,Austin,TX,78704,ip_10303228300,10
4,Artz Rib House,10210737,Austin,TX,78704,ip_10303259985,6
...,...,...,...,...,...,...,...
244,The Barbecue Pit,32878839,Bronx,NY,10471,ip_10300644128,8
245,The Barbecue Pit,32878839,Bronx,NY,10471,ip_10301941537,4
246,Philip Marie Restaurant,7117426,New York,NY,10014,ip_10311489426,2
247,Philip Marie Restaurant,7117426,New York,NY,10014,ip_10306810464,6
248,Chili's Grill & Bar,37263739,Staten Island,NY,10314,ip_10311905110,10

In [64]:
# Uncomment to see a clean print of the json in the places detail response above
# print(json.dumps(places_response, indent=4, sort_keys=True))

We need to:
    1. Set up a dataframe blank table
    2. set up for loops for each API call and itterate through to capture our data

In [ ]:
# checking out offers API